﻿@model ConcertCore.ViewModels.ConcertFormViewModel
@{
    ViewData["Title"] = Model.Heading;
}

<h2>@Model.Heading</h2>
@using (Html.BeginForm(Model.Action, "Concert"))
{
<p class="alert alert-info">All fields are <strong>required</strong>.</p>
@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.Id)
<div class="form-group">
    @Html.LabelFor(m => m.Venue)
    @Html.TextBoxFor(m => m.Venue, new { @class = "form-control", autofocus = "autofocus" })
    @Html.ValidationMessageFor(m => m.Venue)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Date)
    @Html.TextBoxFor(m => m.Date, new { @class = "form-control", placeholder = "eg 1 Jan 2019" })
    @Html.ValidationMessageFor(m => m.Date)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Time)
    @Html.TextBoxFor(m => m.Time, new { @class = "form-control", placeholder = "eg 20:00" })
    @Html.ValidationMessageFor(m => m.Time)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Genre)
    @Html.DropDownListFor(m => m.Genre, new SelectList(Model.Genres, "Id", "Name"), "", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Genre)
</div>
<button type="submit" class="btn btn-primary">Save</button>
}

