﻿@model List<Concert>
@{
    ViewData["Title"] = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Upcoming Concerts</h1>

<ul class="concerts">
    @foreach (var concert in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @concert.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @concert.DateTime.ToString("dd")
                </div>
            </div>
            <div class="details">
                <div class="row">
                    <span class="artist col-sm">
                        @concert.Venue
                    </span>
                </div>
                <div class="row">
                    <span class="genre col-sm">
                        @concert.Genre.Name
                    </span>
                </div>
                <div class="actions">
                    <a asp-controller="Concert" asp-action="Edit" asp-route-id="@concert.Id">Edit</a>
                    <a href="#" class="js-cancel-concert" data-concert-id="@concert.Id">Delete</a>
                </div>
            </div>
        </li>
    }
</ul>

@section scripts
    {
    <script>
        $(document).ready(function () {
            $(".js-cancel-concert").click(function (e) {
                var link = $(e.target);

                bootbox.dialog({
                    title: 'Confirm',
                    message: "<p>Are you sure you want to cancel this concert?</p>",
                    size: 'large',
                    buttons: {
                        no: {
                            label: "No",
                            className: 'btn-default',
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        yes: {
                            label: "Yes",
                            className: 'btn-danger',
                            callback: function () {
                                $.ajax({
                                    url: "/api/concert/" + link.attr("data-concert-id"),
                                    type: "DELETE"
                                })
                                    .done(function () {
                                        link.parents("li").fadeOut(function () {
                                            $(this).remove();
                                        });
                                    })
                                    .fail(function () {
                                        bootbox.alert("something failed!");
                                    });
                            }
                        }
                    }
                });
            });
        })
    </script>
}