/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}
.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
html,
body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
}
/* colours */
.bg-colour {
  background-color: #FF3D00;
}
/* Bootstrap overrides*/
.navbar {
  padding: 0;
}
.navbar-light .navbar-brand {
  color: #ffffff;
}
.navbar-brand {
  padding-top: 0;
  font-size: 1.5rem;
}
.navbar-expand-sm .navbar-nav .dropdown-menu {
  margin-top: 5px;
  padding-right: 8px;
}
.navbar-expand-sm .navbar-nav .nav-link {
  padding-left: 0;
}
.navbar-nav .notifications {
  position: relative;
  width: 25px;
  margin-right: 5px;
}
.navbar-nav .notifications .fa-globe-americas {
  position: absolute;
  color: #fff;
  bottom: 12px;
  left: 0;
}
.navbar-nav .notifications .badge {
  position: absolute;
  top: 3px;
  right: 0;
  background: #a80a0a;
  color: #fff;
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  background-color: rgba(177, 49, 0, 0.14);
  padding-left: 10px;
}
field-validation-error {
  color: red;
  font-weight: bold;
}
.btn {
  border-radius: 9px;
}
.form-control {
  transition: none;
}
.form-control:focus {
  box-shadow: none;
}
/* Page-level styles */
.concerts {
  list-style: none;
  margin-top: 30px;
}
.concerts > li {
  position: relative;
  margin-bottom: 30px;
}
.concerts > li .date {
  background: red;
  color: white;
  text-align: center;
  width: 60px;
  border-radius: 8px;
}
.concerts > li .date .month {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 6px;
}
.concerts > li .date .day {
  background: #f7f7f7;
  color: #333;
  padding: 6px 12px;
}
.concerts > li .details {
  position: absolute;
  top: 0;
  left: 70px;
  width: 250px;
}
.concerts > li .details .artist {
  font-weight: bold;
  display: block;
}
.concerts > li .details .genre {
  font-size: 15px;
}
.concerts > li .actions {
  font-size: 15px;
  display: none;
}
.concerts > li:hover .actions {
  display: block;
}
.popover-notifications .popover-body {
  padding: 0;
}
.popover-notifications ul.notifications {
  list-style: none;
  padding-left: 0;
}
.popover-notifications ul.notifications .highlight {
  font-weight: bold;
}
.popover-notifications ul.notifications > li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.popover-notifications ul.notifications > li:last-child {
  border-bottom: none;
}
#searchConcerts {
  width: 300px;
}
