﻿@model ConcertViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>@Model.Heading</h1>
@using (Html.BeginForm("Search", "Concert"))
{
    <div class="form-group">
        <div id="searchConcerts" class="input-group mb-3">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", @placeholder = "Search by artist, genre..." })
            <div class="input-group-append">
                <div class="input-group-text">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </div>
    </div>
}
<ul class="concerts">
    @foreach (var concert in Model.UpcomingConcerts)
    {
        <li>
            <div class="date">
                <div class="month">
                    @concert.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @concert.DateTime.ToString("dd")
                </div>
            </div>
            <div class="details">
                <div class="row">
                    <span class="artist col-sm">
                        @concert.Artist.FirstName @concert.Artist.LastName
                    </span>
                    @if (Model.ShowActions)
                    {
                        <button data-user-id="@concert.ArtistId" class="btn btn-link btn-sm js-toggle-follow float-right">Follow</button>
                    }
                </div>
                <div class="row">
                    <span class="genre col-sm">
                        @concert.Genre.Name
                    </span>
                    @if (Model.ShowActions)
                    {
                        <button data-concert-id="@concert.Id" class="btn btn-light btn-sm float-right js-toggle-attendance">Going ?</button>
                    }
                </div>
            </div>
        </li>
    }
</ul>

@section scripts
    {
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.ajax({
                    url: "api/attendances",
                    type: "POST",
                    dataType: "text", // expected format for response
                    contentType: "application/json", // send as JSON
                    data: JSON.stringify({ concertId: button.attr("data-concert-id") }),
                })
                    .done(function () {
                        button
                            .removeClass("btn-light")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function (jqXHR, textStatus) {
                        alert("something failed! " + textStatus);
                    });
            });

            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.ajax({
                    url: "api/followings",
                    type: "POST",
                    dataType: "text", // expected format for response
                    contentType: "application/json", // send as JSON
                    data: JSON.stringify({ followeeId: button.attr("data-user-id") }),
                })
                    .done(function () {
                        button.text("Following");
                    })
                    .fail(function (jqXHR, textStatus) {
                        alert("something failed! " + textStatus);
                    });
            });
        });
    </script>
}