@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="notifications">
            <a href="#">
                <i class="fas fa-globe-americas"></i>
                <span class="badge js-notifications-count d-none"></span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" title="Manage" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hello @User.Claims.First(c => c.Type == ClaimTypes.GivenName).Value</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-controller="Concert" asp-action="Mine">My upcoming concerts</a>
                <a class="dropdown-item" asp-controller="Concert" asp-action="Attending">Concerts I'm Going</a>
                <a class="dropdown-item" asp-controller="Followings" asp-action="following">Artists I'm Following</a>
                <div class="dropdown-divider"></div>
                <form class="dropdown-item form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </div>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>