﻿@model FollowerViewModel
@{
    ViewData["Title"] = "Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Followers</h1>

<ul>
    @foreach (var follower in Model.Followers)
    {
        <li>
            @follower.FirstName @follower.LastName
        </li>
    }
</ul>

